@use "scss/base/breakpoint" as *;
@use "scss/base/outline" as *;

.responsive-toggle {
display: none;
padding: 0;
border: none;

svg {
    width: 30px;

    path {
    stroke: var(--secondary-100);
    transition: stroke 0.2s ease-in-out;
    }
}

&:hover {
    svg path {
    stroke: var(--primary-400);
    }
}
}